# Ignore data and models
data/*
models/*
/hyperparameter_tuning

# But do not ignore
!/models/config/
!/data/TestLabels.
!/data/FrontEndDemo
!.gitkeep


# Python cache and virtual environment
__pycache__/
*.pyc
venv/
env/