# Ignore data and models
data/*
models/*
/hyperparameter_tuning

# But do not ignore
!/models/config/
!/models/model_without_attention_smote_5s_slices_dogs_1_2_40steps
!/data/TestLabels.csv
!.gitkeep

*.h5
*.pt
*.keras

# Python cache and virtual environment
__pycache__/
*.pyc
venv/
env/