/* style.css */

:root {
    --primary-color: #041216;
    --secondary-color:  #219dc0;
  }

.stApp {
    background-color: var(--primary-color) !important;
}
.stAppHeader {
    background-color: var(--primary-color) !important;
}

.plot-container {
    background-color: var(--primary-color) !important;
}

.block-container {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    padding-left: 5rem;
    padding-right: 5rem;
}

.dog-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 15px;
}

.main-title {
    font-weight: bold;
}